<div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title">New Product</h5>
    <form>
    <div class="mb-3">
        <label class="form-label">ID</label>
        <input type="number" name="id" class="form-control" id="idProduct" placeholder="Enter ID" [(ngModel)]="product.id"> 
    </div>
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" id="nombreProduct" placeholder="Enter Name Product" [(ngModel)]="product.nombre">
    </div>
    <div class="mb-3">
        <label class="form-label">Precio</label>
        <input type="number" name="precio" class="form-control" id="priceProduct" placeholder="Enter Price Product" [(ngModel)]="product.precio">
    </div>
    <div class="mb-3">
        <label class="form-label">Cantidad</label>
        <input type="number" name="cantidad" class="form-control" id="amountProduct" placeholder="Enter amount Product" [(ngModel)]="product.cantidad">
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo</label>
        <input type="text" name="tipo" class="form-control" id="typeProduct" placeholder="Enter type Product" [(ngModel)]="product.tipo">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </form>
</div>
</div>